$primary-color: #007bff;
$second-color: #6c757d;
$bg-color: #f8f9fa;
$text-size: 18px;
$width: 200px;
$height: 200px;
$border-radius: 45px;
$margin-zero: 0;

.container {
    background-color: $primary-color;
    margin: $margin-zero;
    font-size: $text-size;
}

body {
    background-color: $second-color;
}

h1 {
    color: $bg-color;
}

p {
    color: $bg-color;
}

.box {
    width: $width;
    height: $height;
    background-color: $primary-color;
    border-radius: $border-radius;
}