doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      p SUPER-DEV
      ul
        li
          a(href='./') Home
        li 
          a(href='./pratica') Prática
        li
          a(href='./historia') História
    block content
