<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2>Contato!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quidem iusto labore debitis quasi dicta commodi
        veritatis accusamus accusantium quia saepe possimus laboriosam et, molestias qui quae cumque. Impedit, labore.
    </p>
    <h1>Digite os dados pra cadastro!</h1>
    <form>
        <input type="text" name="dsNome" id="dsNome" placeholder="nome">
        <input type="number" name="nrIdade" id="nrIdade" placeholder="idade">
        <input type="email" name="dsMail" id="dsMail" placeholder="E-mail"> 
        <button type="submit" onclick='this.form.action="formAction"'>Enviar</button>
    </form>
</body>

</html>