<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de exemplo</title>
</head>

<body>
    <h1>Bem-vindo ao site!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quo magnam velit. Minima perspiciatis, aliquid
        praesentium, rerum maxime dolor perferendis laboriosam molestiae consectetur aspernatur laudantium sit. Repellat
        inventore dolore veritatis.
        Molestias placeat alias culpa quae magni amet, labore, iusto ex eius ab, id vel? Voluptates tenetur ex vitae
        repudiandae veritatis sit animi est, quos eum minus excepturi omnis cum quam!</p>
</body>

</html>