$primary-color: #007bff;
$color1: #28a745;
$color2: #11c73b;

button {
    background-color: $color1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;

    &:hover {
        background-color: $color2;
        cursor: pointer;
    }
}

.input-field {
    width: 30%;
    padding: 20px;
    font-size: 18px;
    
    &:focus {
        outline: none;
        border-color: red;
    }
}