$primary-color: #007bff;
$second-color: #6c757d;
$bg-color: #c4c9cc;
$font-family: monospace;
$header-color: #343a40;
$header-size: 24px;
$p-size: 16px;
$content-padding: 20px;
$footer-color: #868e96;

body {
    font-family: $font-family;
    background-color: $bg-color;
    color: $second-color;
}

.cabecalho .container {
    background-color: $primary-color;
    color: $second-color;
    padding: $content-padding;
    margin-bottom: $content-padding;
}

.cabecalho h1 {
    font-size: $header-size;
}

.cabecalho nav ul {
    list-style: none;
}

.cabecalho nav ul li {
    display: inline-block;
    margin-right: 10px;
}

.cabecalho nav ul li a {
    color: white;
    text-decoration: none;
}

.cabecalho nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: $footer-color;
    color: orange;
    text-align: center;
    padding: $content-padding;
}