<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
    <a href="/sistema/contato">Contato</a><br>
    <a href="/sistema/calculadora">Calculadora</a><br>
    <a href="/sistema/aluno">Média</a>
    <h1>Olá Mundo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corporis quos earum hic ipsum exercitationem ea
        consectetur commodi sed eveniet, reprehenderit quae harum expedita! Optio, quisquam id. Repudiandae, officia
        maxime.</p>
</body>

</html>