<p-toast />

<div class="card flex justify-content-center align-content-center flex-wrap" style="min-height: 100vh">
    <p-panel header="Faça seu login">
        <div class="flex flex-column gap-4">
            <div class="flex flex-column gap-2">
                <label for="login">Login</label>
                <input pInputText id="login" aria-describedby="login-help" [(ngModel)]="login" autofocus />
            </div>
            <div class="flex flex-column gap-2">
                <label for="senha">Senha</label>
                <p-password [(ngModel)]="senha" [toggleMask]="true" [feedback]="false" />
            </div>
            <div class="flex flex-column gap-2">
                <p-button class="flex justify-content-center" label="Enviar" severity="help" (onClick)="enviar()" />
            </div>
            <p-button label="Cadastra-se" [link]="true" (onClick)="redirecionarCadastrar()" />
        </div>
    </p-panel>
</div>

