<div class="card-aluno" (click)="funcaoTeste()">
    <div class="imagem">
        <img src={{estudante.imagemPath}} alt="logo-aluno">
    </div>
    <div class="nome">
        <p>{{estudante.nome}}</p>
    </div>
    <div class="dados">
        <p>
            <strong>Curso:</strong> {{estudante.curso}}
        </p>
        <p>
            <strong>Matricula:</strong> {{estudante.matricula}}
        </p>
        <div class="aprovacao" 
            [ngStyle]="{'background-color': estudante.status == true ? 'green' : 'red'}">
            <!-- [ngClass="{{estudante.status ? 'aprovado' : 'reprovado'}}"] -->
            <p>
                Status: {{estudante.status ? "Aprovado" : "Reprovado"}}
            </p>
        </div>

        <p>
            <strong>Materias:</strong> {{estudante.materias}}
        </p>
    </div>
</div>