body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-decoration: none;

}

.insta-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
}

.insta-fone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-fone img {
    height: 700px;
}

.insta-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}