body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #ffcb05;
    color: #333;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 20px;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
}

.pokemon {
    background-color: green;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
}

.fogo {
    background-color: rgb(227, 92, 92);
}

.planta {
    background-color: green;
}

h2 {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}