{% extends 'base.html' %}

{% block conteudo %}
<h1 class="title">
    Cadastro de Tag
</h1>
<form action="/steamfake/tag/cadastrar" method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">Nome:</label>
        <div class="control">
            <input class="input" type="text" placeholder="Digite o nome da tag" name="nome">
        </div><br>
        <label class="label">Descrição:</label>
        <div class="control">
            <textarea class="textarea" placeholder="Digite aqui..." name="descricao"></textarea>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Cadastrar</button>
        </div>
    </div>
</form>
{% endblock %}