.ficha-cadastro {
    display: grid;
    padding: 15px;
    gap: 10px;
}

hr {
    border: 1px solid;
    margin: 10px;
}

.box-input {
    display: flex;
}

.notas {
    width: 50px;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

button {
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
}