td,
th {
  border: 1px solid #ddd;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  background-color: blue;
  color: white;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orange;
  color: white;
}

.aprovado {
  background-color: lightgreen;
}

.reprovado {
  background-color: coral;
}