td,
th {
  border: 1px solid #ddd;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  background-color: blue;
  color: white;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orange;
  color: white;
}

.aprovado {
  background-color: lightgreen;
  color: black;
}

.reprovado {
  background-color: coral;
  color: black;
}

.td-center-edit {
  text-align: center;
  color: green;
}

.td-center-edit:hover {
  cursor: pointer;
  color: white;
}

.td-center-delete {
  text-align: center;
  color: red;
}

.td-center-delete:hover {
  cursor: pointer;
  color: white;
}